{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Buy and Sell</title>

    <!-- Title logo -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Laptop text font-->
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="highligh"><a href="#">Products</a>
                                <ul class="dropdown">
                                    {% if user.is_authenticated %}
                                    <li class="nohigh"><a href="{% url 'books' my_username=user.username %}">Books</a></li>
                                    <li class="nohigh"><a href="{% url 'electronics' my_username=user.username %}">Electronic gadgets</a></li>
                                    <li class="nohigh"><a href="{% url 'stationery' my_username=user.username %}">Stationery</a></li>
                                    <li class="nohigh"><a href="{% url 'sports' my_username=user.username %}">Sports</a></li>
                                    <li class="nohigh"><a href="{% url 'others' my_username=user.username %}">Others</a></li>
                                    {% else %}
                                    <li class="nohigh"><a href="{% url 'books' my_username='x' %}">Books</a></li>
                                    <li class="nohigh"><a href="{% url 'electronics' my_username='x' %}">Electronic gadgets</a></li>
                                    <li class="nohigh"><a href="{% url 'stationery' my_username='x' %}">Stationery</a></li>
                                    <li class="nohigh"><a href="{% url 'sports' my_username='x' %}">Sports</a></li>
                                    <li class="nohigh"><a href="{% url 'others' my_username='x' %}">Others</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="{% url 'event' %}">Events</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>

            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
              <!-- {% if user.is_authenticated %}
                {% for s in sign1 %}
                {% if s.username == user.username %}
                <div class="hello">
                    <p style="text-align:center;">Hello,{{s.full_name}}</p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}-->
                <!-- Search Area -->
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Favourite Area -->
                {% if user.is_authenticated %}
                <div class="favourite-area">
                    <a href="{% url 'favourites' direct='y' %}"><i class="fa fa-heart-o mt-md-4" style="font-size:22px;"></i></a>
                </div>
                {% else %}
                <div class="favourite-area">
                    <a href="#"><i class="fa fa-heart-o mt-md-4" style="font-size:22px;"></i></a>
                </div>
                {% endif %}
                <!-- User Login Info -->
                {% if user.is_authenticated %}
                <div class="user-login-info classynav">
                    <div class="dropdown">
                        <a href="#"><i class="fa fa-user mt-md-4" aria-hidden="true" style="font-size: 22px;"></i></a>
                            <div class="dropdown-content" style="width:100px;">
                                <a href="{% url 'profile' %}" class="mental" style="line-height:2; text-align:left; color:#787878">My Profile</a>
                                <a href="{% url 'requests' my_id=1 bool='x' %}" style="line-height:2; text-align:left; color:#787878;">Requests</a>
                                <a href="{% url 'orders' %}" style="line-height:2; text-align:left; color:#787878;">My Orders</a>
                                <a href="{% url 'sold' %}" style="line-height:2; text-align:left; color:#787878;">Items Sold</a>
                                <a href="#" style="line-height:2; text-align:left; color:#787878;">Chat</a>
                                <a href="{% url 'logout' %}" style="line-height:2; text-align:left; color:#787878;">Logout</a>
                            </div>
                    </div>
                </div>
                {% else %}
                <div class="user-login-info">
                    <a href="{% url 'login' %}"><i class="fa fa-user-o" aria-hidden="true" style="font-size: 20px;"></i></a>
                </div>
                {% endif %}
            </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <section id="books">
            <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area breadcumb-style-two bg-img" style="background-image: url({% static 'img/electronics-img/Atlas.jpg' %}); background-size:cover; background-position:center center; height:140px;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h1 class="display-3" style="text-align: center; font-family: 'Fondamento', cursive;"><i class="fa fa-laptop" aria-hidden="true"></i> ELECTRONIC GADGETS</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
        <div class="container" style="margin-top:50px;">
            <div class="row">
                {% for e in electronics1%}

                <div class="col-lg-4 mb-4">
                    <div class="card">
                        {% if user.is_authenticated %}
                        <a href="{% url 'electronics_product_details' my_id=e.id my_username=user.username %}">
                            <img class="card-img-top" src="{{e.img.url}}" alt="" style="width:100%; height:300px;">
                        </a>
                        {% else %}
                        <a href="{% url 'electronics_product_details' my_id=b.id my_username='x' %}">
                            <img class="card-img-top" src="{{e.img.url}}" alt="" style="width:100%; height:300px;">
                        </a>
                        {% endif %}
                            <div class="card-body" style="font-family: 'Ubuntu', sans-serif;">
                                <div style="display: flex;">
                                <h5 class="card-title">{{e.product_title}} </h5>
                                    <!-- Cart & Favourite Box -->
                                    <!-- Cart -->
                                    {% if user.is_authenticated %}
                                    <form class="cart-form clearfix" method="POST" action="{% url 'favourites' direct='x' %}">
                                        {% csrf_token %}
                                       <input type="text" name="pt" value="{{e.product_title}}" style="display: none;"/>
                                       <input type="text" name="sid" value="{{e.username}}" style="display: none;"/>
                                       <input type="text" name="price" value="{{e.price}}" style="display: none;"/>
                                       <input type="text" name="description" value="{{e.description}}" style="display: none;"/>
                                       <input type='text' name="fid" value="{{user.username}}" style="display: none;"/>
                                       <input type="text" name="cat" value="Electronics" style="display: none;"/>
                                       {% if e.username in fav_seller_username_list and e.product_title in fav_pt_list %}
                                       <button href="#" type="submit" id="fav" class="btn btn-outline-danger btn-sm active" style="margin-left: 200px; float:right;"><i class=" fa fa-heart-o" aria-hidden="true"></i></button>
                                        {% else %}
                                        <button href="#" type="submit" id="fav" class="btn btn-outline-danger btn-sm" style="margin-left: 200px; float:right;"><i class=" fa fa-heart-o" aria-hidden="true"></i></button>
                                        {% endif %}
                                    </form> 
                                    {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-outline-danger btn-sm" style="margin-left: 200px; float:right;"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    {% endif %}
                                </div>
                                <!--<p class="card-text" style="color: black;">{{b.description}}</p>-->
                                <p style="color: black;"><strong>Price : ₹{{e.price}}</strong></p>
                                {% if user.is_authenticated %}
                                <a href="{% url 'electronics_product_details' my_id=e.id my_username=user.username %}" class="btn btn-outline-info btn-sm">Buy Now</a>
                                <a href="{% url 'electronics_product_details' my_id=e.id my_username=user.username %}" class="hoverknow" style="float:right; text-decoration:underline; font-size:15px;color:gray; margin-top:7px; letter-spacing:1.5px;">Know More</a>
                                {% else %}
                                <a href="{% url 'electronics_product_details' my_id=e.id my_username='x' %}" class="btn btn-outline-info btn-sm">Buy Now</a>
                                <a href="{% url 'electronics_product_details' my_id=e.id my_username='x' %}" class="hoverknow" style="float:right; text-decoration:underline; font-size:15px;color:gray; margin-top:7px; letter-spacing:1.5px;">Know More</a>
                                {% endif %}
                            </div>

                    </div>
                </div>
    
            {% endfor %}
    
        </div>
        </div>
    </section>

   <!-- ##### Footer Area Start ##### -->
   <footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="#"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-30">
                    <ul class="footer_widget_menu">
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="pages/about">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <h6 style="color:white; margin-left:10px;">FOLLOW US</h6>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

<div class="row mt-5">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>

    </div>
</footer>
<!-- ##### Footer Area End ##### -->



<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>



<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Classy Nav js -->
<script src="{% static 'js/classy-nav.min.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>

</body>

</html>