{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sell Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/sellstyle.css' %}">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="sellform" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="form-title" style="text-transform:none; text-align:left; font-size:27px;">Have any products to sell?</h2>
                        <div class="form-group">
                            <input readonly type="text" class="form-input" name="username" id="username" placeholder="Username" value="{{user.username}}"/>
                        </div>
                        <div class="form-group">
                            <input readonly type="email" class="form-input" name="email" id="email" placeholder="Email" value="{{user.email}}"/>
                        </div>
                        <div class="form-group">
                           <!-- <label for="category">Choose Product Category:</label>-->
                            <select id="category" name="category" class="form-input">
                              <option value="choose" disabled selected hidden class="choose">Choose Product Category</option> 
                              <option value="Books" name='Books'>Books</option>
                              <option value="Electronics" name='Electronics'>Electronic Gadgets</option>
                              <option value="Stationery" name='Stationery'>Stationery</option>
                              <option value="Sports" name='Sports'>Sports</option>
                              <option value="Others" name='Others'>Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="product_title" id="name" placeholder="Product Title"/>
                        </div>
                        <div class="form-group">
                           <textarea rows="5" cols="40" class="form-input" name="description" id="desc" placeholder="Product Description">        
                           </textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="price" id="price" placeholder="Product Price"/>
                        </div>
                        <div class="form-group">
                            <label for="img" style="font-weight: 600; margin-left:10px; margin-top:20px;">Product Images : </label>
                            <input type="file" id="img" name="img" accept="image/*" style="margin-top: 20px;" multiple>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="POST"/>
                        </div>
 
                    </form>

                </div>
                <div class="happy ">
                    <p style="color: white; font-size:60px; font-weight:800; text-align:center;font-family: 'Merienda', cursive;">Happy Selling <i class="far fa-grin"></i></i></p>
                </div>
            </div>
  
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/sellmain.js' %}"></script>
</body>
</html>