{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Favourites</title>

    <!-- Title logo -->
    <link rel="icon" href="{% static 'img/core-img/connectlogo.png' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Laptop text font-->
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>

<body style="background-color:#ffdde1;">
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/connect.png' %}" style="width:130px;" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="#">Products</a>
                                <ul class="dropdown">
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'books' my_username=user.username %}">Books</a></li>
                                    <li><a href="{% url 'electronics' my_username=user.username %}">Electronic gadgets</a></li>
                                    <li><a href="{% url 'stationery' my_username=user.username %}">Stationery</a></li>
                                    <li><a href="{% url 'sports' my_username=user.username %}">Sports</a></li>
                                    <li><a href="{% url 'others' my_username=user.username %}">Others</a></li>
                                    {% else %}
                                    <li><a href="{% url 'books' my_username='x' %}">Books</a></li>
                                    <li><a href="{% url 'electronics' my_username='x' %}">Electronic gadgets</a></li>
                                    <li><a href="{% url 'stationery' my_username='x' %}">Stationery</a></li>
                                    <li><a href="{% url 'sports' my_username='x' %}">Sports</a></li>
                                    <li><a href="{% url 'others' my_username='x' %}">Others</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="{% url 'event' %}">Events</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>

            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
              <!-- {% if user.is_authenticated %}
                {% for s in sign1 %}
                {% if s.username == user.username %}
                <div class="hello">
                    <p style="text-align:center;">Hello,{{s.full_name}}</p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}-->
                <!-- Search Area -->
                <!--<div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>-->
                <!-- Favourite Area -->
                {% if user.is_authenticated %}
                <div class="favourite-area">
                    <a href="{% url 'favourites' direct='y' %}"><i class="fa fa-heart mt-md-4" style="font-size:22px; color:#dc3545;"></i></a>
                </div>
                {% else %}
                <div class="favourite-area">
                    <a href="#"><i class="fa fa-heart-o mt-md-4" style="font-size:22px;"></i></a>
                </div>
                {% endif %}
                <!-- User Login Info -->
                {% if user.is_authenticated %}
                <div class="user-login-info">
                    <div class="dropdown">
                        <a href="#"><i class="fa fa-user mt-md-4" aria-hidden="true" style="font-size: 22px;"></i></a>
                            <div class="dropdown-content" style="width:100px;">
                                <a href="{% url 'profile' %}" class="mental" style="line-height:2; text-align:left; color:#787878; border-left:none;">Profile</a>
                                <hr style="margin-top:2px; margin-bottom:2px;">
                                <a href="{% url 'requests' my_id=1 bool='x' %}" style="line-height:2; text-align:left; color:#787878; border-left:none;">Requests</a>
                                <hr style="margin-top:2px; margin-bottom:2px;">
                                <a href="{% url 'orders' %}" style="line-height:2; text-align:left; color:#787878; border-left:none;">Orders</a>
                                <hr style="margin-top:2px; margin-bottom:2px;">
                                <a href="{% url 'sold' %}" style="line-height:2; text-align:left; color:#787878; border-left:none;">Items Sold</a>
                                <hr style="margin-top:2px; margin-bottom:2px;">
                                <a href="{% url 'logout' %}" style="line-height:2; text-align:left; color:#787878; border-left:none;">Logout</a>
                            </div>
                    </div>
                </div>
                {% else %}
                <div class="user-login-info">
                    <a href="{% url 'login' %}"><i class="fa fa-user-o" aria-hidden="true" style="font-size: 20px;"></i></a>
                </div>
                {% endif %}
            </div>
    </header>
    <!-- ##### Header Area End ##### -->
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h1 class="display-3 mt-5" style="text-align: center; font-family: 'Merienda One', cursive; color: #de0345;"> My Favourites</h1>
                    </div>
                </div>
            </div>
        {% if user.username in favourite_username_list %}
        <div class="container" style="margin-top:50px;">
            <div class="row">
                {% for f in f1%}
                {% if f.favourite_username == user.username %}
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <a href="{% url 'favourite_product_details' my_id=f.id %}">
                            <img class="card-img-top" src="{{f.img.url}}" alt="" style="width:100%; height:300px;">
                        </a>
                            <div class="card-body" style="font-family: 'Ubuntu', sans-serif;">
                                <div style="display: flex;">
                                    <h5 class="card-title">{{f.product_title}} </h5>
                                        <!-- Cart & Favourite Box -->
                                        <!-- Cart -->
                                        {% if user.is_authenticated %}
                                        <form class="cart-form clearfix" method="POST" action="{% url 'favourites' direct='favpage' %}">
                                            {% csrf_token %}
                                           <input type="text" name="pt" value="{{f.product_title}}" style="display: none;"/>
                                           <input type="text" name="sid" value="{{f.username}}" style="display: none;"/>
                                           <input type="text" name="price" value="{{f.price}}" style="display: none;"/>
                                           <input type="text" name="description" value="{{f.description}}" style="display: none;"/>
                                           <input type='text' name="fid" value="{{user.username}}" style="display: none;"/>
                                           <input type="text" name="cat" value="{{f.category}}" style="display: none;"/>
                                           <button href="#" type="submit" id="fav" class="btn btn-outline-danger btn-sm active" style=" margin-left:180px; margin-right: 0px; float:right;"><i class="far fa-heart"></i></button>
                                        </form> 
                                        {% else %}
                                        <a href="{% url 'login' %}" class="btn btn-outline-danger btn-sm" style="margin-left: 200px; float:right;"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                        {% endif %}
                                    </div>
                                    <p style="color: black;"><strong>Price : ₹{{f.price}}</strong></p>
                                    <a href="{% url 'favourite_product_details' my_id=f.id %}" class="btn btn-outline-info btn-sm">Buy Now</a>
                                <a href="{% url 'favourite_product_details' my_id=f.id  %}" class="hoverknow" style="float:right; text-decoration:underline; font-size:15px;color:gray; margin-top:7px; letter-spacing:1.5px;">Know More</a>
                            </div>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h3 style="text-align: center; color:darkgray; padding-top:60px;"><i class="fas fa-heart-broken" style="font-size: 100px;"></i></h3>
        <h1 style="text-align: center; margin-bottom:200px; color:darkgray;">No Items Added </h1>
        {% endif %}
        </div>
 
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                 <!-- Single Widget Area -->
                 <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="{% static 'img/core-img/connect.png' %}" alt="" style="width:130px;"></a>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="{% url 'event' %}">Events</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <h6 style="color:white; margin-left:10px;">FOLLOW US</h6>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Classy Nav js -->
    <script src="{% static 'js/classy-nav.min.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="{% static 'js/map-active.js' %}"></script>

</body>

</html>